/*font-family: 'Signika', sans-serif;
font-family: 'Archivo Black', sans-serif;*/

/*IDENTIFICADORES*/
#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	
}

/*CLASES*/

.logo{
	float: left;
	width: 300px;
}





/*ETIQUETAS*/
body{
	background-color: white;
}

h1{
	float: left;
	font-family: 'Archivo Black', sans-serif;
	color: #0B2F3A;
	margin-left: 10px;
	font-size: 60px;
	text-align: center; 
	padding-left: 100px;
	text-shadow: 0 0 10px;
	
}

h2{
	font-family: 'Signika', sans-serif;
	color: #0B2F3A;
	margin-left: 10px;
	font-size: 20px;
	text-align: left; 
    text-shadow: 0 0 10px;		
}

h3{	
	font-family: 'Signika', sans-serif;
	color: white;
	font-size: 20px;
	text-align: center; 
	text-shadow: 0 0 10px white;
}

h4{
	font-family: 'Signika', sans-serif;
	color: #0B2F3A;
	font-size: 15px;
	text-align: center; 
	margin-top: 400px; 

}	


header{	

	width: 1000px;
	height: 120px;	
	background: rgba(255, 255, 255, 0,5); 	
}

nav{	
	width: 1000px;
	height: 50px;
	background-color: #0B2F3A;
	border-radius: 10px;
	box-shadow: inset 0 0 10px,
	                  0 0 20px;	
	box-shadow: 0 0 20px;
 
	
}

ul{
	margin: auto;
	padding-top: 4px;
}

li{
	width: 110px;
	float: left;
	list-style-type: none;
	padding: 10px;
	background-color: #FF8000;
	margin: 3px;
	border-radius: 10px;	
	box-shadow: 0 0 10px inset;
	text-align: center;
}

section{
	width: 780px;
	background-color: #FACC2E;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px,
	                  0 0 20px;
	

}
aside{
	width: 200px;
	height: 600px;		
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px,
	                  0 0 20px;	
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	align: bottom;	
 
}

footer{
	width: 1000px;
	height: 70px;
	background-color: #0B2F3A;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px,
	                  0 0 20px;	

}

p{
	
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	font-weight: bolder;
	color: #0B2F3A;
	line-height: 17px;
	padding: 40px;
	text-align: justify;

}


/*PSEUDO CLASES*/

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 10px;}
.menu:active{color: white; text-decoration: none;}


li:hover{background-color: #0B2F3A; box-shadow: 0 0 10px;}











